body {
  text-align: center;
  margin: 0;
  background-color: rgb(66, 84, 112);
  color: rgb(219, 218, 218);
  padding-top: 5%;
  padding-bottom: 5%;
}

img {
  width: 90px;
  height: 90px;
  float: left;
}

#idCard {
  display: none;
  border: 5px solid black;
  border-radius: 20px;
  height: 14em;
  width: 25em;
  margin: 50px auto 0;
  background: linear-gradient(
    127deg,
    rgb(155, 43, 43) 50%,
    rgb(116, 38, 38) 50%
  );
  box-shadow: inset 0.5rem 0.5rem rgb(155, 43, 43),
    inset -0.5rem -0.5rem rgb(116, 38, 38);
}

input {
  margin: 5px 0 10px 0;
  background-color: rgb(121, 120, 120);
  border: 1px solid #0a0a23;
  color: #ffffff;
  min-height: 1.3em;
  border-radius: 5px;
}
input:hover {
  transform: scale(1.2);
}
button {
  display: inline;
  color: rgb(219, 218, 218);
  background-color: rgb(68, 68, 68);
  font-size: 18px;
  margin-top: 5px;
  border-radius: 2px;
  border: none;
  transition: ease-in-out all 0.1s;
  transform: scale(1);
}

button:hover {
  box-shadow: #000;
  border-image: radial-gradient(rgb(3, 3, 3), rgb(75, 75, 74)) 1;
  opacity: 0.7;
  cursor: pointer;
}

button:active {
  transform: scale(1.2);
}

#postFullName {
  font-size: 2em;
  font-family: "Shadows Into Light", cursive;
}

#post {
  text-align: left;
  margin-left: 15px;
}

h1 {
  font-family: "Anonymous Pro", monospace;
}

footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
  height: 2.5rem;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
#idCard {
  animation: float 5s infinite;
}
